<div class="span3">
  <div class="well sidebar-nav" style="padding: 8px 0;">
    <ul id="admin-sidebar" class="nav nav-list">
      <li class="nav-header">Company Actions</li>
			<li><%= link_to '<i class="icon-barcode"></i> Products'.html_safe, admin_products_path %></li>
			<li><%= link_to '<i class="icon-shopping-cart"></i> Stores'.html_safe, admin_stores_path %></li>
			<li><%= link_to '<i class="icon-home"></i> Factories'.html_safe, admin_factories_path %></li>
			<li class="nav-header">Admin Functions</li>
      <li><a href="#"><i class="icon-user"></i>Profile</a></li>
      <li><a href="#"><i class="icon-wrench"></i>Settings</a></li>
      <li class="divider"></li>
			<li><%= link_to '<i class="icon-off"></i> Log Out'.html_safe, logout_url, method: :delete %></li>
    </ul>
  </div> <!-- /well -->
</div>
