// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#center {
	min-height:600px;
	margin-bottom:20px;

	table{
		img {
			display:inline-block;
			width:60px;
			height:40px;
			background:#f0f0f0;
		}
	}
}
